header {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 2rem;
  flex: 1;
}

header .inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  background-color: #7b88b0;
  background-image: url('./brushed-alum.png');
}

header img {
  width: 200px;
  height: 275px;
}

header span {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  header .inner {
    flex: 0.5;
  }
}
