/* @import './components/Navigation.css';
@import './components/Profile.css';
@import './components/TweetForm.css';
@import './components/Tweet.css'; */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
}

.tweets {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 20px;
}

/* #bottom-toggle{ */

footer .bottom-toggle {
  font-family: 'Bungee', sans-serif;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #d6ff00;
  color: #4056a1;
  cursor: pointer;
}

footer .bottom-toggle:hover {
  background-color: #5f80ed;
  box-shadow: 2px 5px 8px #888888;
}

/* Another tablet breakpoint is minimum width of 768px */
@media only screen and (min-width: 968px) {
  main {
    display: flex;
    flex-direction: row;
  }
  .tweets {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 20px;
  }
}
